.cases {
    width     : 100%;
    max-width : 300px;
    padding   : 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border    : 2px solid #b22222;
}

.cases img {
    width        : 100%;
    max-width    : 100%;
    height       : auto;
    margin-bottom: 20px;
}

.cases h2 {
    color        : #fff;
    font-size    : 24px;
    font-weight  : 600;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cases p {
    font-size : 16px;
    color     : #fff;
    min-height: 12vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}