.center-text-h1 {
    text-align : center;
    color      : #b22222;
    font-size  : 40px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.center-text-h2 {
    margin-top : 15px;
    text-align : center;
    color      : rgb(169, 169, 169);
    font-size  : 25px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.center-content {
    display        : flex;
    justify-content: center;
    margin-bottom: 30px;
}

.input-field-subscribe {
    margin-top      : 5px;
    width           : 300px;
    max-width       : 500px;
    height          : 20px;
    max-height      : 30px;
    background-color: #4e71a0;
    padding         : 10px;
    font-size       : 17px;
    border-radius   : 10px;
    border          : none;
    opacity         : 0.4;
    color           : #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.field-name-subscribe {
    color    : #fff;
    font-size: 20px;
}