.chatbot-container {
    width    : 100%;
    max-width: 600px;
    margin   : 0 auto;
    position : relative;
    z-index  : 10039 !important;
}

df-messenger {
    --df-messenger-button-titlebar-color: #3c3c3c;
}