.footer-main-container {
    background-color: black;
    color           : #fff;
}

.footer-container {
    background-color: black;
    color           : #fff;
    display         : flex;
    flex-direction  : column;
    align-items     : flex-start;
    padding         : 20px;
    padding-top     : 30px;
    padding-bottom  : 20px;
}

.footer-menu {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: flex-start;
    width          : 100%;
    gap            : 150px;
}

.footer-logo {
    margin-right: 10px;
    margin-left : 100px;
}

.footer-menu>div:not(:last-child) {
    margin-right: 10px;
}

.site-map,
.our-cases,
.support,
.social-media {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    color        : #fff;
    font-size    : 30px;
    font-weight  : 500;
}

.site-map p,
.our-cases p,
.support p {
    margin         : 0;
    padding        : 0;
    color          : rgb(160, 160, 160);
    text-decoration: none;
    line-height    : 25px;
}

.social-icons {
    display: flex;
    gap    : 20px;
}

.social-icons a {
    margin-bottom  : 10px;
    text-decoration: none;
    color          : rgb(160, 160, 160);
    font-size      : 24px;
}

.social-icons a:hover {
    color    : #b22222;
    font-size: 30px;
}

.site-map p:hover,
.our-cases p:hover,
.support p:hover {
    color    : #b22222;
    font-size: 18px;
}

.footer-logo img {
    opacity  : 0;
    animation: fadeInOut 5s ease-in-out infinite;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }
}

.center-container {
    display    : grid;
    place-items: center;
    padding-bottom: 30px;
}

.copy-rights {
    text-align: center;
}

.copy-rights h5 {
    margin   : 0;
    font-size: 20px;
    color    : rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .footer-menu {
        justify-content: space-between;
        gap            : 20px;
    }

    .footer-logo {
        margin-left: 0;
    }

    h3 {
        font-size: 24px;
    }

    .site-map,
    .our-cases,
    .support,
    .social-media {
        margin-bottom: 10px;
    }

    .social-icons a {
        font-size: 20px;
    }
    .footer-logo img {
        opacity  : 0;
        animation: fadeInOut 5s ease-in-out infinite;
    }
    
    @keyframes fadeInOut {
    
        0%,
        100% {
            opacity: 0.1;
        }
    
        50% {
            opacity: 1;
        }
    }
    
    .center-container {
        display    : grid;
        place-items: center;
        padding-bottom: 20px;
    }
    
    .copy-rights {
        text-align: center;
    }
    
    .copy-rights h5 {
        margin   : 0;
        font-size: 15px;
        color    : rgb(255, 255, 255);
    }
}