body {
  background-color : #1E2A3A;
  margin           : auto;
  padding          : 0px;
  overflow-x       : hidden;
  background-repeat: repeat;
  font-family      : "Inter", sans-serif;
  display          : grid;
}