@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color : #1E2A3A !important;
  margin           : auto !important;
  padding          : 0px !important;
  overflow-x       : hidden !important;
  background-repeat: repeat !important;
  font-family      : 'Montserrat', sans-serif !important;
  display          : grid !important;
}